.jobpanelaside{
width: 20%;
}

.jobpanelaside .row{
    display: flex;
    flex-direction: column;
}

.jobpanelaside .tiles{
    text-wrap: auto;
    width: 100%;
}

.jobpanelcontent{
width: 80%;
}

.jobpanelbox{
display: flex;
}

@media (max-width:769px){
    .jobpanelbox{
        display: flex;
        flex-direction: column;
    }
    .jobpanelaside{
        width: 100%;
    }
    .jobpanelcontent{
        width: 100%;
    }
}
